

:root {
    --pico-font-family-sans-serif: Tajawal, system-ui, sans-serif, var(--pico-font-family-emoji);  
}

nav details.dropdown summary:not([role]) {
    background: transparent;
    border-color: transparent;
    color: inherit;
}
nav .spacer{
    width:31px;
    display:inline-block;
}
nav details.dropdown summary:not([role]):hover {
    box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}
body nav[role=navigation] {
    overflow: visible;
}
nav .simple-nav{
    border: var(--pico-border-width) solid transparent;
    height: calc(1rem* var(--pico-line-height) + var(--pico-nav-link-spacing-vertical)* 2);
    padding: calc(var(--pico-nav-link-spacing-vertical) - var(--pico-border-width)* 2) var(--pico-nav-link-spacing-horizontal);
    display: block;
}
.media{
    width: calc(100vw - 2 * var(--pico-spacing) );
    padding: 0 0;
}
.youtube{
    height: calc( ( 100vw - 2 * var(--pico-spacing) ) * 315 / 560 );
}
#content{
    min-height: calc(100vh - 8rem - 159px)
}
.skip-to-content {
    z-index: 999;
    position: absolute;
    top: calc(var(--pico-spacing)* .75);
    left: calc(var(--pico-spacing)* .75);
    transform: translateY(-1000%);
    --pico-box-shadow: var(--pico-card-box-shadow);
    opacity: 0;
}

input[type=submit]{
    max-width: 6rem;
    margin: 1rem auto 3rem;
    display: block;
}
.ta-center{
    text-align: center;
}
.center {
    margin: 0 auto;
    display: block;
}
.w-fit-content {
    width: fit-content;
}
.h-100{
    height: 100%;
}

.pd1 {
    padding: 1rem;
}
.pdt-0 {
    padding-top: 0;
}
.pdb-2 {
    padding-bottom: 2rem;
}
.pdb-4 {
    padding-bottom: 4rem;
}
.mt-2{
    margin-top:2rem;
}

.mt-4{
    margin-top:4rem;
}

.minh-8{
    min-height: 8rem;
}
.ac-end {
    align-content: end;
}

.dim {
    opacity: 0.5;
}

.outline{
    border: 1px solid var(--outline-color);
    border-radius: 12px;
}

ul.nolist li{
    list-style: none;
    margin-bottom: 0.5rem;
}

ol.use-counters, 
ol.use-counters ol{
    counter-reset: section;
    list-style-type: none;
    position: relative;
    padding-left: 0;
}
ol.use-counters li {padding-left: 2.5rem;}
ol.use-counters ol li {padding-left: 2.5rem;}
ol.use-counters ol li li {padding-left: 3rem;}
ol.use-counters ol li li li {padding-left: 3.5rem;}
ol.use-counters ol li li li li {padding-left: 4.5rem;}
ol.use-counters ol li li li li li {padding-left: 5rem;}

ol.use-counters li:before{
    counter-increment: section;
    content: counters(section, ".") ". ";
    position: absolute;
    left: 0;
    opacity: 0.6;
}
ol.use-counters ul.no-counters-increment {
    counter-reset: inherit;
}
ol.use-counters ul.no-counters-increment li:before {
    display: none;
}
/* Light color scheme (default)*/
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --pico-text-selection-color: rgba(255, 65, 152, 0.5);
    --pico-primary: #FF4198;
    --pico-primary-background: #FF4198;
    --pico-primary-underline: rgba(255, 65, 152, 0.5);
    --pico-contrast-hover-underline: #FF4198;
    --pico-primary-hover: #FF0A78;
    --pico-primary-hover-background: #FF4198;
    --pico-primary-focus: rgba(3, 2, 2, 0.5);
    --pico-primary-inverse: #000;
    --outline-color: #f79fc6;
    --pico-color: #000;
    --accent: #FFD300;
    --error: red;
    --success: #02cc93;
}


/* Dark color scheme (auto if set in browser preferences)*/
[data-theme=dark],
:root:not([data-theme]) {
    --pico-text-selection-color: #08489B;
    --pico-primary: #FF4198;
    --pico-primary-background: #FF4198;
    --pico-primary-underline: rgba(255, 65, 152, 0.5);
    --pico-contrast-hover-underline: #FF4198;
    --pico-primary-hover: #FF0A78;
    --pico-primary-hover-background: #FF4198;
    --pico-primary-focus: rgba(3, 2, 2, 0.5);
    --pico-primary-inverse: #fff;
    --outline-color: #f79fc6;
    --pico-color: #fff;
    --accent: #fdc802;
    --error: red;
    --success: #02cc93;
}
html [type=submit] {
    border: 0.125rem solid transparent;
    line-height: 1rem;
}
html[data-theme='light'] [type=submit] {
    color: #fff;
}
@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
@keyframes border-angle-rotate {
    from { --border-angle: 0deg; }
    to { --border-angle: 360deg; }
}
input.sending[type=submit]{ 
    --border-angle: 0deg;
    animation: border-angle-rotate 2s infinite linear;
    background: linear-gradient(var(--pico-primary-background), var(--pico-primary-background)) padding-box, 
        conic-gradient(from var(--border-angle), var(--pico-primary-background) 50%, transparent) border-box;
}
input.success[type=submit]{ 
    background:var(--success);
}
input.error[type=submit]{ 
    background: var(--error);
}



html [type=submit]:hover, html button:hover {
    background-color: var(--pico-primary-hover-background);
}
label:has(+ input:required):after,
label:has(+ textarea:required):after{
    content: ' *';
    color: var(--error);
  }

html[data-theme='dark'] {
    background: #0F172A;
    background: -webkit-linear-gradient(to right, #06336E, #302b63, #0F172A);
    background: linear-gradient(to left, #0F172A, #1B294B, #0F172A);
}
html[data-theme='light'] {
    background-image: linear-gradient(135deg, rgba(244, 244, 244,0.07) 0%, rgba(244, 244, 244,0.07) 12.5%,rgba(211, 211, 211,0.07) 12.5%, rgba(211, 211, 211,0.07) 25%,rgba(178, 178, 178,0.07) 25%, rgba(178, 178, 178,0.07) 37.5%,rgba(145, 145, 145,0.07) 37.5%, rgba(145, 145, 145,0.07) 50%,rgba(113, 113, 113,0.07) 50%, rgba(113, 113, 113,0.07) 62.5%,rgba(80, 80, 80,0.07) 62.5%, rgba(80, 80, 80,0.07) 75%,rgba(47, 47, 47,0.07) 75%, rgba(47, 47, 47,0.07) 87.5%,rgba(14, 14, 14,0.07) 87.5%, rgba(14, 14, 14,0.07) 100%),linear-gradient(45deg, rgba(236, 236, 236,0.07) 0%, rgba(236, 236, 236,0.07) 12.5%,rgba(210, 210, 210,0.07) 12.5%, rgba(210, 210, 210,0.07) 25%,rgba(183, 183, 183,0.07) 25%, rgba(183, 183, 183,0.07) 37.5%,rgba(157, 157, 157,0.07) 37.5%, rgba(157, 157, 157,0.07) 50%,rgba(130, 130, 130,0.07) 50%, rgba(130, 130, 130,0.07) 62.5%,rgba(104, 104, 104,0.07) 62.5%, rgba(104, 104, 104,0.07) 75%,rgba(77, 77, 77,0.07) 75%, rgba(77, 77, 77,0.07) 87.5%,rgba(51, 51, 51,0.07) 87.5%, rgba(51, 51, 51,0.07) 100%),linear-gradient(90deg, #ffffff,#ffffff);
}


@media (max-width: 720px) {
    nav[role=navigation][data-breakpoint=md] {
        overflow: hidden;
    }
    nav details.dropdown{
        display:inline-block;
        width: 100%;
        margin: 0;
    }  
    nav details.dropdown[open] > summary + ul{
        position: relative;
        margin-bottom: 1em;
    }
    .center-m{
        margin: 0 auto;
        display: block;
    }
    html[data-theme='light'] {
        background-image: unset;
    }
}