---
import Layout from '../layouts/Layout.astro';

const title = "About us";
const description = "Team description";
const url = "https://goaltimate.org/about-us";
const ogImageSrc = "https://www.goaltimate.org/og_image.jpg";
---

<Layout description={description} title={title} url={url} ogImageSrc={ogImageSrc}>
    <div>
        <h2>Under construction...</h2>
    </div>
</Layout>