---
import Layout from '../layouts/Layout.astro';

const title = "Press material";
const description = "Information and material for the press";
const url = "https://goaltimate.org/press";
const ogImageSrc = "https://www.goaltimate.org/og_image.jpg";
---

<Layout description={description} title={title} url={url} ogImageSrc={ogImageSrc}>
    <div>
        <h2>Under construction...</h2>
    </div>
</Layout>