---
import Layout from '../layouts/Layout.astro';
import RulesContent from '../components/Rules.astro'

const title = "Rules of Goaltimate";
const description = "The official rules of Goaltimate - 2025 Edition";
const url = "https://goaltimate.org/rules";
const ogImageSrc = "https://www.goaltimate.org/og_image.jpg";
---

<Layout description={description} title={title} url={url} ogImageSrc={ogImageSrc}>
    <div>
        <RulesContent />
    </div>
</Layout>