---
---
<session>
    <p>Built with <a href="https://astro.build/">Astro</a>
    <p>Basic theme by <a href="https://yohn.github.io/PicoCSS/">Yohns Updated Pico CSS</a>.</p>
    <p>Raleway (logo) Tajawal (text) fonts from <a href=https://fonts.google.com>Google Fonts</a>.</p>
    <p>Site designed and built by Gabriele from <a href="https://fairfig.com/">Fairfig</a>.</p>
</session>