---
import FieldOne from '../assets/images/goaltimate_field_measurements.svg?raw'
import FieldTwo from '../assets/images/goaltimate_field_measurements2.svg?raw'
---
<div id="field-measurement-wrapper" class="grid">
    <div class="center-m">
        <Fragment set:html={FieldOne} />
    </div>
    <div class="center-m">
        <Fragment set:html={FieldTwo} />
    </div>
</div>