---
---
<footer class="container ta-center ac-end minh-8">
    <small class="dim">Built with love and coffee by <a href="https://fairfig.com">GS</a>. See the <a href="/credits">Credits</a> page for details and copyrights</small>
</footer>