---
---
<footer class="container ta-center ac-end minh-8">
    <small class="dim">Built with love and coffee by <a href="https://fairfig.com">GS</a> (see <a href="/credits">credits</a> for details)</small>
</footer>