---
import { Image } from 'astro:assets';
import OldField from '../assets/images/FieldDimensions.gif'
---
<h1>History</h1>
<p>Goaltimate was invented by Ultimate players in Wellesley, Massachusetts, on Christmas Day 1978. The rules were developed as they played, and they used the lower spars of a set of H-shaped American football uprights as a goal.</p>
<p><a href="http://www.usaultimate.org/about/history/hall_of_fame/jim_herrick_class_of_2005.aspx">Jim Herrick</a>, one of the Boston inventors, brought the game to San Diego, where it was further developed and replaced the uprights with a large hoop made with PVC pipes. In 1999, Rick and Bibbi Conner, San Diego entrepreneurs with interest in the sport, subsidized a goaltimate tournament with a US$30,000 purse for the winners, inviting top players from competitive ultimate teams. ESPN covered the event, and with this introduction, the sport rapidly spread across the world. Less than one year after there were games organised not just in the USA, but also in Australia, Canada, Germany, Japan, Denmark, Scotland, Venezuela, Mexico, Sweden, and the UK.</p>
<p>At that time, the rules were defined by the International Goaltimate Organisation, led by Rick Conner. The rules were quite different, and included referees and a round field.</p>

<div>
    <Image class="center" src={OldField} alt="Diagram of how a goaltimate field used to be." />
</div>

<p>The sport is now thriving in the USA, thanks to the work of <a href="https://www.usagoaltimate.org/">USA Goaltimate</a>, the USA organization for the sport of Goaltimate, which has been running the USA national championships since their inception in 2016. USA Goaltimate has defined its own <a href="https://www.usagoaltimate.org/full-rule-set">rules</a>, which allow "controlled contact" (screens, posting up, etc.) While this level of physicality which may attract some players, it can also put off others, especially if they are used to the WFDF rules of Ultimate.</p>

<p>As Goaltimate is spreading worldwide, multiple groups have developed different rules. The new <a href="/rules">official rules</a> are based on the style of play that is popular across Europe, and specifically on the rules used by the Royal Goaltimate Society in London, UK. These rules make the sport more skill-based, inclusive, and fun.</p>