---
---
<h1>History</h1>
<p>Goaltimate was invented by players of ultimate in Wellesley, Massachusetts. It was invented on Christmas Day around 1980, on hard-pack snow, after not enough players for ultimate showed up. It was originally played between the lower spars of a set of H-shaped American football uprights.</p>

<p><a href="http://www.usaultimate.org/about/history/hall_of_fame/jim_herrick_class_of_2005.aspx">Jim Herrick</a>, one of the Boston inventors, brought the game to San Diego, where it was further developed and replaced the uprights with a large hoop made with PVC pipes. In 1999, Rick and Bibbi Conner, San Diego entrepreneurs with interest in the sport, subsidized a goaltimate tournament with a US$30,000 purse for the winners, inviting top players from competitive ultimate teams. The San Diego team took the prize, defeating a team from Boston in the finals. Through this introduction, the sport rapidly spread across the US thanks to the work of <a href="https://www.usagoaltimate.org/">USA Goaltimate</a>, the USA organization for the sport of Goaltimate.</p>

<p>As Goaltimate is spreading worldwide, it has ben tested and its rules have been tweaked several times over the years. This new set of rules incoporates several changes made over the years by players mainly in Europe, and especially by the group playing in Clapham Common grounds on London, UK.</p>

<p>Some additional changes have been made to make the sport more skill-based and limit the advantages of height and speed, as path to be more inclusive</p>