---
---
<session>
    <p>Built with <a href="https://astro.build/">Astro</a>, with basic theme by <a href="https://picocss.com">Pico</a>.</p>
    <p>Raleway font via <a href=https://fonts.google.com/specimen/Raleway>Google Fonts</a> licensed under the <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">Open Font License</a>.</p>
    <p>Base icons:</p>
    <ul>
        <li><b>fast</b> by Darwin Mulya from <a href="https://thenounproject.com/browse/icons/term/fast/" target="_blank" title="fast Icons">Noun Project</a> (CC BY 3.0)</li>
        <li><b>family fun</b> by kartini 1 from <a href="https://thenounproject.com/browse/icons/term/family-fun/" target="_blank" title="family fun Icons">Noun Project</a> (CC BY 3.0)</li>
        <li><b>fun</b> by WEBTECHOPS LLP from <a href="https://thenounproject.com/browse/icons/term/fun/" target="_blank" title="fun Icons">Noun Project</a> (CC BY 3.0)</li>
        <li><b>inclusive</b> by Yu luck from <a href="https://thenounproject.com/browse/icons/term/inclusive/" target="_blank" title="inclusive Icons">Noun Project</a> (CC BY 3.0)</li>
    </ul>
</session>

