---
import FieldMeasurement from './FieldMeasurements.astro'
---
<div> 
    <h3 id="rules-for-ultimate-players">Rules for Ultimate players</h3>
    <ul>
        <li><b>4v4, game to 5 points.</b></li>
        <li><b>Sub out if you cause a turnover.</b></li>   
        <li><b>Continuous play, stall to 5 from anywhere on the pitch.</b></li>
        <li>Game starts with a pull from the clear box: if it hits the goal post the pulling team gets the disc.</li>
        <li>Score by catching a disc in the goal zone.
            <ul>
                <li>The disc must fly through the goal.</li>
                <li>If the disc is pushed or pulled through the goal plane the pass is valid but it is not a score.</li>
                <li>Scoring on an assist from the clear zone gives you 2 points instead of 1.</li>
            </ul>
        </li>
        <li>After a turnover or a score you have to “clear the disc” by establishing possession in the clear box.</li>
        <li>If the disc flies back through the goal (from the goal zone side) it is a turnover.</li>
        <li>If any player in the attacking team hits the goal with their body it is a “goal fault”, which is a turnover.</li>
        <li>No double team, no picks, no straddling, no wrapping, no time outs. Just play!</li>
    </ul> 
</div>
<FieldMeasurement />