---
import FieldMeasurement from './FieldMeasurements.astro'
---
<section class="pdb-4"> 
    <h3 id="rules-for-ultimate-players">Rules quickstart for Ultimate players</h3>
    <p>The rules of Goaltimate are based on the WFDF rules of Ultimate. This list shows all the differences:</p>
    <ul>
        <li><b>4v4. Game end after a team scores enough points, or at a specific time</b> (Event organisers can choose what works best for them.)
            <ul>
                <li>Casual games typically end once a team reaches 5 points.</li>
                <li>Tournament games may end at a specific time (eg: 20 minutes) to better manage the schedule.</li>
            </ul> 
        </li>
        <li><b>Sub out if you cause a turnover.</b></li>   
        <li><b>Continuous play, stall to 5 from anywhere on the pitch.</b></li>
        <li>Game starts with a pull from the clear box: if it hits the goal post the pulling team gets the disc.</li>
            <ul>
                <li>The team in the goal zone cannot touch the disc before it hits the ground or goes past the goal plane.</li>
            </ul>
        <li>Score by catching a disc in the goal zone on an assist that went through the goal.
            <ul>
                <li>If the disc is pushed or pulled through the goal plane the pass is valid but it is not a score. (Call "Through")</li>
                <li>Scoring on an assist from the clear zone gives you 2 points instead of 1.</li>
            </ul>
        </li>
        <li>After a turnover or a score you have to “clear the disc” by establishing possession in the clear box.</li>
        <li>If the disc flies back through the goal (from the goal zone side) it is a turnover. (Call "Backward")</li>
        <li>If any player in the attacking team makes non-trivial contact with the goal pole, it is a turnover (Call "Goal foul").</li>
        <li>Fewer interruptions: no time-outs and no calls for double team, picks, straddling, wrapping. Just play!</li>
    </ul> 
</section>
<section>
    <FieldMeasurement />
</section>
