---
import Ugn25Logo from '../assets/images/ugn2025_logo.svg?raw'
---
<section class="ta-center">
    <h1>UK Goaltimate Nationals 2025</h1>
</section>

<section class="center media pdb-2" style="max-width:600px;">
    <Fragment set:html={Ugn25Logo} />
</section>

<section class="pdb-2"> 
    <h2 id="what">What is it?</h3>
    <p>The first UK National Goaltimate Championship!</p>
    <p>Goaltimate remains a relatively unexplored discipline in the UK, with limited governance and structured competition worldwide. This championship, if it can be called as such with such vague governance structure for the sport, aims to invite players to try this new sport, and to create awareness of the updated rules. Based on the WFDF Ultimate rules, they aim to make the sport simple, fun, and more inclusive for people of different gender, age, and athleticism.</p>
    <p>UKU has kindly accepted to sanction this event to provide insurance cover and an organisational framework for the event organisers, so it requires all participants to have at least basic UKU membership.</p>
</section>                
<section class="pdb-2">
    <h3 id="where">Event details</h3>
    <ul>
        <li><b>Date:</b> 01 February 2025</li>
        <li><b>Location:</b> Clapham Common, outside the Clapham South tube station <a href="https://www.google.com/maps/d/u/0/edit?mid=1kYJd_XyzI2FPG40k7p8xgJecKQNAjt0&usp=sharing">(See event map)</a></li>
        <li><b>How to sign up:</b> <a href="https://forms.gle/8cfB6Y4ZAZyLTELK8">Fill this form</a>before the end of 21 Jan 2025.</li>
        <li><b>Costs:</b>: £10 per team, to be paid at the venue.</li>
        <li><b>Schedule:</b> Under construction (Start at 10am and end by 3pm, but the exact end time is still TBD)</li>
        <li><b>Campionship rules:</b> Under review</li>
        <li><b>SOTG: </b>Submit your scores after each game. See this <a href="https://forms.gle/ncgQfURSP6Rw6xQQ6">form example</a> (this is not the standard SOTG scoresheet used in Ultimate)</li>
        <li><b>First aid:</b> <a href="https://docs.google.com/document/d/1kIzpeQB3zK5fBHDtV6yvDb7h-o_kgxEt7BOO9fuBTWo/edit?usp=drive_link">First aid plan</a></li>
        <li><b>NB:</b> This is an outdoor event in February, so bring suitable clothing and footwear, keeping in mind that we will have very limited space for changing clothes or shelter.</li>
    </ul>
    <p>After the sign up deadline we will finalise the schedule, update this page, and send all the details to the registered email contacts for each team.</p>
</section>
