---
import UnderContruction from '../assets/images/UnderConstruction.svg?raw'
---
<section class="center">
    <Fragment set:html={UnderContruction} />
    <h2 class="ta-center">Under construction</h2>
</section>
