---
import FairSVG from '../assets/images/fair.svg?raw'
import FunSVG from '../assets/images/fun.svg?raw'
import SimpleSVG from '../assets/images/simple.svg?raw'
---
<section id="hero">
	<h2  class="ta-center">What is Goaltimate?</h2>
	<div class="grid">
		<div class="feature">
			<div class="pd1 outline h-100">
				<div class="w-fit-content center">
					<Fragment set:html={SimpleSVG} />
				</div>
				<h2 class="ta-center">Simple</h2>
				<p class="ta-center">4 vs 4. Pass the disc through the goal to score. The first team to score 5 wins.</p>
			</div>
		</div>
		<div class="feature">
			<div class="pd1 outline h-100">
				<div class="w-fit-content center">
					<Fragment set:html={FunSVG} />
				</div>
				<h2 class="ta-center">Fun</h2>
				<p class="ta-center">Continuous play with quick passes, and running substitutions. Music and heckling optional.</p>
			</div>
		</div>
		<div class="feature">
			<div class="pd1 outline h-100">
				<div class="w-fit-content center">
					<Fragment set:html={FairSVG} />
				</div>
				<h2 class="ta-center">Fair</h2>
				<p class="ta-center">The first sport designed to be inclusive by gender, age, and athleticism. Truly open to all.</p>
			</div>
		</div>
		</div>
	</section>
	<section id="How" class="mt-4">
		<h2  class="ta-center">How to play</h2>
		<div class="media" style="max-height: 315px; max-width: 560px; margin: 0 auto;">
			<iframe class="center" width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/C2h7TeLiDnA?si=bW5mZ6QRI8UDL3Pr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</section>
	<section id="rules" class="mt-4">
		<h2  class="ta-center">Rules</h2>
		<hgroup class="ta-center">
			<div><a href="/rules">Official 2025 Rules of Goaltimate</a></div>
			<div><span>The Official rules of Goaltimate, valid from 01 January 2025.</span></div>
			<div><span class="dim">Based on the WFDF rules of Ultimate.</span></div>
		</hgroup>
		
		<hgroup class="ta-center mt-2">
			<div><a href="/rules-for-ultimate-players">Rules for Ultimate players</a></div>
			<div><span>If you already know the rules of Ultimate, this page if all you need!</span></div>
			<div><span class="dim">(If you play with the WFDF rules.)</span></div>
		</hgroup>
	</section>

