---
---
<h1>Why Goaltimate?</h1>
<section>
    <h2>For players</h2>
    <ul>
        <li>4vs4 + Compulsory substitutions = plenty of disc time for everyone</li>
        <li>Fun even with different levels of skills and physical fitness - play with your friends and invite new people</li>
        <li>Play it almost anywhere, as it requires smaller space, and you can play it on any surface</li>
        <li>Reasonably cheap (~50 bucks for a kit, or use an existing goal)</li>
        <li>Pass quickly, and practice using space effectively</li>
        <li>Practice many types of throws, catching under pressure, and effective marking</li>
        <li>Cheap - you just need one long tent pole (or make up you own goal!)</li>
    </ul>
</section>
<section>
    <h2>For teams</h2>
    <ul>
        <li>Suitable even for small groups (6 people is enough to play!)</li>
        <li>Play it almost anywhere (grass, beach, indoor, cages, etc)</li>
        <li>Simpler rules are easier to learn, so you can recruit new players easily</li>
        <li>Practice how to play fast, and use space effectively</li>
        <li>A smaller field makes it easier to see how people play and give feedback</li>
    </ul>
</section>
<section>
    <h2>For event managers</h2>
    <ul>
        <li>Play it anywhere - bring the fun where the crowd is?</li>
        <li>High pressure shots make spectacular scores = great for spectators and to produce engaging highlights.</li>
        <li>Scoring in a goal is easier to understand for casual spectators</li>
        <li>Continuous play and fewer calls means no boring breaks between points</li>
        <li>Fewer players makes it easier to organise</li>
        <li>One camera behind the goal zone can captures most of the action</li>
    </ul>
</section>
<section>
    <h2>For inclusion and equality</h2>
    <ul>
        <li>4v4 with teams of 6 or 8 players makes it easy to set a equal team</li>
        <li>The goal height reduces the advantage of height</li>
        <li>Field size reduces the advantage of speed</li>
    </ul>
</section>